<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/taining_day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i  in range(5):
  n = int(input())
  z = n*n
  print(z)

4
16
4
16
5
25
6
36
8
64

In [ ]:
for i  in range(5):
  arr[i] = int(input())

In [ ]:
#conditional statemenet
import secrets
a =5
if a == 5:
  print("a is equal to 5")

a is equal to 5

In [ ]:
b = 4
if b ==3:
  print("wrong value")

else:
  print("true value")

In [ ]:
age = 14
if age== 3:
  print("less age")
elif age == 7:
  print("the age is 7")
else:
  print("p is noit define")

p is noit define

In [ ]:
#conditional or ternay operator
a =11
print("A is 10 " if a==10 else "A is not 10")



a =11
print("A is 10 ") if a<=10 else ("A is not 10")

A is not 10
A is not 10

In [ ]:
#short hand if

a =6
b =4
if a>b: print("a is greater")

a ="6"
b =4
if int(a)>b: print("a is greater")

a is greater
a is greater

In [ ]:
#multiple statementsin if block
age = 18
if age >= 18:
  print("you are student")
  print("you are hcl trainee")
  print("you should vote")


age = 18
if age >= 18:
  print("you are student")
  print("you are hcl trainee")
  print("you should vote")

else:
  print("you are not eligible ")

you are student
you are hcl trainee
you should vote
you are student
you are hcl trainee
you should vote

In [ ]:
#usiong bpoolean variablem
is_logged_in = True
if is_logged_in:
  print("you are logged in")
else:
  print("please login")

you are logged in

In [ ]:
is_rainihng = False
if is_rainihng:
  print("forget rain")
else:
  print("not")

not

In [ ]:
#elif

a =12
b = 234
if a>b:
  print("a is greater")
elif a==b:
  print("a is equal tpo b")

else:
  print("b is greater")

b is greater

In [ ]:
#testing multiple conditions
marks =int()
if marks >= 90:
  print("gradeA")
elif int(marks)>=80:
  print("grade B")
elif marks>=70:
  print("grade C")
else:
  print("failede")

grade B

In [ ]:
p1 = "23434"
p2 = "dgdfg"
p3 = "msnfhjdsb"
p4 = {32,456,3453}
p6 = list(p4)
p5 = p1[0]+p2[1] + p3[2] + str(p6[1])
print(p5)

2gn3453

In [ ]:
age =23
if age < 13:
  print("child")
elif age < 18:
  print("teenager")
else:
  print("adult")

adult

In [ ]:
day = 4
if day == 1:
  print("monday")
elif day == 2:
  print("tuesday")
elif day ==3:
  print("wednesday")
elif day == 4:
  print("thusday")
else:
  print(sunday)

thusday

In [ ]:
#username checker
username = "hcl"
if len(username) == 0:
  print("a valid username")
else:
  print("welcome, " + username)

#using f strings
username = " hcl"
if len(username) == 0:
  print("invalid")
else:
  print(f"welcome {username}")

welcome, hcl
welcome  hcl

In [ ]:
#short hand if else
a= 65
b =34
if a>b: print("a is gretaer than b")
else: print("small is b")


print("a") if a>b else print("b")

big =("a") if a>b  else print("b")
print(f"big is {big}")


print("a") if a>b else print("b") if b>a else print("equal")

a is gretaer than b
a
big is a
a

In [ ]:
#0ogical operator
a =32
b =34
c =53
if a>b and a>c:
  print("a is great")
elif b>a and b>c:
  print("b is greta")
else:
  print("c is gret")

a =34
b =344
c =34
if a==b or a==c:
  print("a is equal")
elif b==c:
  print("b is greta")
else:
  print("c is gret")

c is gret
a is equal

In [ ]:
#with boolean
is_raibn = True
is_cold = False
if is_raibn or is_cold:
  print("weather is absent")
else:
  print("weather is therr")

weather is absent

In [ ]:
username = "hcl"
pas=  "tr"
is_verrified = False
if username and pas and is_verrified:
  print("valid")
else:
  print("invalid")

if username or pas or is_verrified:
  print("valid")
else:
  print("invalid")

invalid
valid

In [ ]:
#nested if
x =42

if x> 12:
  if x <15:
    print("between 10 and 15")
  else:
    print("above 15")
else:
  print("above 50")

above 15

In [ ]:
age = 25
license = True
if age >=18:
  if license:
    print("you are leigible")
  else:
    print("you have no license")
else:
  print("you are not eligible")

you are leigible

In [ ]:
import random
l1 = [0,1,2,3,4,5,6,7,8,9]
l2 = ["!","@","$","^","&","*","?","/"]
l3 = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
l4 = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
l5 = ["1","2","3","4","5","6","7","8","9","0"]

PASS = "" # Initialize PASS as an empty string

for i in range(2,6):
  PASS = PASS + random.choice(l2)+random.choice(l3)+random.choice(l4)+random.choice(l5)

print(PASS)

if(10<=len(PASS)<=20):
    print("strong password")
else:
    print("not acceptable")

@tA8*jV5@nY3!vE9
strong password

In [ ]:
score = 90
attendance =89
submit = True

if score >= 60:
  if attendance >= 75:
    if submit:
      print("pass")

    else:
      print("not submit")
  else:
    print("not attend")
else:
  print("fail")

pass

In [ ]:
username = "hcl"
password = "tr"
is_active = True
if username == "hcl":
  if password == "tr":
    if is_active:
      print("welcome")
    else:
      print("not active")
  else:
    print("invalid password")
else:
  print("invalid username")

In [ ]:
#match case like switch case
day = "2234"

match day:
  case "1":
    print("monday")
  case "2":
    print("tuesday")
  case "3":
    print("wednesday")
  case "4":
    print("thusday")
  case _:
    print("invalid")

invalid

In [ ]:
day = 34
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("working day")
  case 6 | 7:
    print("weekend")
  case _:
    print("invalid")

invalid

In [ ]:
month = 4
day = 3
match day:
  case 1|2|3|4|5 if month == 3:
    print("a weekday in 3")
  case 1|2|3|4|5 if month == 4:
    print(" a weekday in 4")
  case _:
    print("invalid")

 a weekday in 4