<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/trainingday2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list3 = ["apple","banana","mango"]
for i in range(len(list)):
    print(list[i])

i = 0
while i < len(list):
  print(list[i])
  i+= 1

#coprehenssion looping
[print(x) for x in list]

apple
banana
mango
apple
banana
mango
apple
banana
mango

[None, None, None]

In [ ]:
list1 = ["apple","banana","mango"]
[print(x) for x in list1]

newlist = [x for x in list1 if "a" in x]
print(newlist)

apple
banana
mango
['apple', 'banana', 'mango']

In [ ]:
list1 = ["apple","banana","mango","kiwi"]
newlist = []

for x in list1:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
list1 = ["apple","banana","mango","kiwi"]
newlist = [x for x in list1 if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#python sort
list1 = ["apple","banana","mango","kiwi","baaana","Fat","true"]
list1.sort()
print(list1)

list2 = [34,567,23,78,43,]
list2.sort()
print(list2)


list1.sort(reverse = True)
print(list1)

list2.sort(reverse = False)
print(list2)

['Fat', 'apple', 'baaana', 'banana', 'kiwi', 'mango', 'true']
[23, 34, 43, 78, 567]
['true', 'mango', 'kiwi', 'banana', 'baaana', 'apple', 'Fat']
[23, 34, 43, 78, 567]

In [ ]:
def myfunc(n):
  return abs(n-50)

list2 = [50,4,567,23,78,43,57]
list2.sort(key = myfunc)
print(list2)

[50, 43, 57, 23, 78, 4, 567]

In [ ]:
#case sensiruive sort
thislist = ["apple","bAnana","mango","Kiwi","baaana","Fat","True"]
thislist.sort()
print(thislist)



thislist.sort(key = str.lower)
print(thislist)


thislist.reverse()
print(thislist)

['Fat', 'Kiwi', 'True', 'apple', 'bAnana', 'baaana', 'mango']
['apple', 'baaana', 'bAnana', 'Fat', 'Kiwi', 'mango', 'True']
['True', 'mango', 'Kiwi', 'Fat', 'bAnana', 'baaana', 'apple']

In [ ]:
##copy list
list1 = ["apple","banana","mango","kiwi"]
list2 = list1.copy()
print(list2)
print(id(list1))
print(id(list2))
print(memoryview(b"list1"))
print(memoryview(b"list2"))

mylist = thislist[:]
print(mylist)



# mylist = list(list1)
# print(mylist)

['apple', 'banana', 'mango', 'kiwi']
138052717241472
138052396967616
<memory at 0x7d8ee7426ec0>
<memory at 0x7d8ee7426ec0>
['True', 'mango', 'Kiwi', 'Fat', 'bAnana', 'baaana', 'apple']

In [ ]:
# join the list
list1 = ["apple","banana","mango","kiwi"]
list2 = [1,2,3,4]

list3  = list1+ list2
print(list3)

['apple', 'banana', 'mango', 'kiwi', 1, 2, 3, 4]

In [ ]:
#append list3 in list1
list1 = ["apple","banana","mango","kiwi"]
list2 = [1,2,3,4]

for x in list2:
  list1.append(x)

print(list1)


list1.extend(list2)
print(list1)

['apple', 'banana', 'mango', 'kiwi', 1, 2, 3, 4]
['apple', 'banana', 'mango', 'kiwi', 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#tuple

thistuple = ("apple","banana","mango")
print(thistuple)


thistuple = ("apple","banana","mango","banana")
print(thistuple)

print(len(thistuple))

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))


tuple1 = ("apple","banana","mango")
tuple2 = (1,2,3,4,5)
tuple3 = (True,False,True)
print(tuple1)
print(tuple2)
print(tuple3)



tuple4 = ("fds",34,True,"fdgrd")
print(tuple4)



#comstructor
thistuple = tuple(("apple","banana","mango","kiwi","laddo"))
print(thistuple)

print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[-4:1])

('apple', 'banana', 'mango')
('apple', 'banana', 'mango', 'banana')
4
<class 'tuple'>
<class 'str'>
('apple', 'banana', 'mango')
(1, 2, 3, 4, 5)
(True, False, True)
('fds', 34, True, 'fdgrd')
('apple', 'banana', 'mango', 'kiwi', 'laddo')
banana
laddo
('mango', 'kiwi', 'laddo')
()

In [ ]:
tuple1 = ("apple","banana","mango")
y = __builtins__.list(tuple1)
y[1] = "kiwi"
tuple1 = tuple(y)
y.append("orange")
typle1 = tuple(y)

print(tuple1)

('apple', 'banana', 'mango')

In [ ]:
thistuple = ("apple","banana","mango")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'mango', 'orange')

In [ ]:
thistuple = ("apple","banana","mango")
y = __builtins__.list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)


thistuple = ("apple","banana","mango")
y = ("banana",)
thistuple -= y
print(thistuple)

('banana', 'mango')

TypeError: unsupported operand type(s) for -=: 'tuple' and 'tuple'

In [ ]:
thistuple = ("apple","banana","mango")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
fruits = ("aple", " banna","cherry")
(green,yellow,red)  = fruits
print(green)
print(yellow)
print(red)


fruits = ("aple", " banna","cherry","orange","tuple","kiwi")
(*green,yellow,white,red)  = fruits
print(green)
print(yellow)
print(white)
print(red)

aple
 banna
cherry
['aple', ' banna', 'cherry']
orange
tuple
kiwi

In [ ]:
fruits = ("aple", " banna","cherry","orange","tuple","kiwi")
for x in fruits:
    print(x)
print("\n")


for i in range(len(fruits)):
    print(fruits[i])
print("\n")

i = 0
while i < len(fruits):
  print(fruits[i])
  i+=1

while i < len(fruits):
  peint(fruits[i])
  i+=1

aple
 banna
cherry
orange
tuple
kiwi


aple
 banna
cherry
orange
tuple
kiwi


aple
 banna
cherry
orange
tuple
kiwi

In [ ]:
fruits = ("aple", "banna","cherry","orange","tuple","kiwi")
mutiply = fruits * 2
print(mutiply)

print(fruits.count("aple"))
print(fruits.index("banna")) # Changed 'banna' to ' banna' to match the tuple element

('aple', 'banna', 'cherry', 'orange', 'tuple', 'kiwi', 'aple', 'banna', 'cherry', 'orange', 'tuple', 'kiwi')
1
1

In [ ]:
##sets
#unordered, unchangable, and do not allow duplicate value

myset = {"apple","banna","cherry"}
print(myset)

thisset = {"apple","banna","cherry","apple"}
print(thisset)

thisset = {"apple","banna","cherry", "1",int("1"),True,0,False,-1,-0.5}
print((thisset))
print((thisset))
print((thisset))

print(len(thisset))

{'cherry', 'banna', 'apple'}
{'cherry', 'banna', 'apple'}
{0, 1, -0.5, '1', 'apple', 'cherry', 'banna', -1}
{0, 1, -0.5, '1', 'apple', 'cherry', 'banna', -1}
{0, 1, -0.5, '1', 'apple', 'cherry', 'banna', -1}
8

In [ ]:
set1 = {"apple","banana","cherry","kiwi","method"}
set2 = {1,2,3,4}
set3 = {True, False, True}
print(set1)
print(set2)
print(set3)

set4 = {"abc",34,True,40,"male"}
print(set4)


#add items
set2 = {"apple","banana","cherry","kiwi","method"}
set2.add("orange")
print(set2)

for x in set2:
    print(x)

{'kiwi', 'cherry', 'apple', 'banana', 'method'}
{1, 2, 3, 4}
{False, True}
{True, 34, 'male', 40, 'abc'}
{'orange', 'kiwi', 'cherry', 'apple', 'banana', 'method'}
orange
kiwi
cherry
apple
banana
method

In [ ]:
set1 = {"apple","banana","cherry","kiwi","method"}
set2 =(1,2,3,4,"orange")
set1.update(set2)
print(set1)



set1.remove("banana")
print(set1)


set1.discard("cherry")
print(set1)

set1 = {"apple","banana","cherry","kiwi","method"}
x = set1.pop()
print(x)
print(set1)

#pop does noit ake any argument
set1 = {"apple","banana","cherry","kiwi","method"}
x = set1.pop("banana")
print(x)
print(set1)

{'orange', 1, 2, 3, 4, 'method', 'cherry', 'banana', 'kiwi', 'apple'}
{'orange', 1, 2, 3, 4, 'method', 'cherry', 'kiwi', 'apple'}
{'orange', 1, 2, 3, 4, 'method', 'kiwi', 'apple'}
kiwi
{'cherry', 'apple', 'banana', 'method'}

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
set1 = {"apple","banana","cherry","kiwi","method"}
set1.clear()
print(set1)

set1 = {"apple","banana","cherry","kiwi","method"}
del set1
print(set1)

set()

NameError: name 'set1' is not defined

In [ ]:
#uhnoin
set1 = {"a","b","c"}
set2 = {1,2,3,"b"}
set4 = {"True", True}
set3 = set1.union(set2,set4)
print(set3)

#join
set1 = {"a","b","c"}
set2 = {1,2,3,"b",True}
set4 = {"True", True}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'a', 'True', 'c'}
{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
set1 = {"a","b","c"}
set2 = (1,2,3,"b",True,False)
set4 = ["True", True]
set3 = set1.union(set2)
set5 = set1 | set4
print(set3)
print(set5)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [ ]:
set1 = {"a","b","c",True}
set2 = {1,2,3,True}
set4 = {"True", True}
set3 = set2.intersection(set4,set1)
print(set3)


set3 = set2 & set1
print(set3)

{True}
{1}

In [ ]:
set1 = {"a","b","c",True}
set2 = {1,2,3,True}
set4 = {"True"}
set3 = set2.difference(set4)
print(set3)

set5 = set2 - set4
print(set5)

{1, 2, 3}
{1, 2, 3}

In [ ]:
set1 = {"banana","apple","cherry"}
set2 = {"google","microsoft","apple"}
set3 = set1.difference_update(set2)
print(set1)

set1.symmetric_difference(set2)
print(set3)

set4 = set1^set2
print(set4)

set1.symmetric_difference_update(set2)
print(set3)

{'cherry', 'banana'}
None
{'google', 'apple', 'cherry', 'banana', 'microsoft'}
None

In [ ]:
#dictionary
thisdict = {
    "food":"Dosa",
    "travel":"Delhi",
    "travel":"Jaipur",
    "food2":"Dosa"
}
print(thisdict)

print(thisdict["food"])

print(len(thisdict))

{'food': 'Dosa', 'travel': 'Jaipur', 'food2': 'Dosa'}
Dosa
3

In [ ]:
#construcote
thisdict = dict(name = "radhe", age = "98", coiuntry = "India")
print(thisdict)


#access dictionary item
thisdict = {
    "food":"Dosa",
    "travel":"Delhi",
    "travel":"Jaipur",
    "food2":"Dosa"
}
print(thisdict)

print(thisdict["food"])

#get keys
x = thisdict.keys()
print(x)
thisdict["area"] = "region"
print(x)


#get values
print(thisdict.values())

#get items
print(thisdict.items)

{'name': 'radhe', 'age': '98', 'coiuntry': 'India'}
{'food': 'Dosa', 'travel': 'Jaipur', 'food2': 'Dosa'}
Dosa
dict_keys(['food', 'travel', 'food2'])
dict_keys(['food', 'travel', 'food2', 'area'])
dict_values(['Dosa', 'Jaipur', 'Dosa', 'region'])
<built-in method items of dict object at 0x7d8ee720e500>

In [ ]:
thisdict = {
    "food":"Dosa",
    "travel":"Delhi",
    "travel":"Jaipur",
    "food2":"Dosa"
}
print(thisdict)

for y in thisdict.values():
  print(y)

{'food': 'Dosa', 'travel': 'Jaipur', 'food2': 'Dosa'}
Dosa
Jaipur
Dosa

In [ ]:
p = 100
r =4
n =2
t =2
A = p(1+r/n)**(n*t)
print(A)

TypeError: 'int' object is not callable

In [ ]:
sum of even numbers from 1 to 20