<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/trainingday8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple
ordred
unchangable iterable
heterogeneous

In [ ]:
#tuples are inder=xed
contain duplicate values
updating anm element
Acees a tuple using apostive index
Acees a tuple using negative index
concatenation in python tuple
traversing each element
slicing in python tuple
deleting a tuple
nesting of tuple
repeatinf of tuple

In [ ]:
tup = ("hecl")*3
print(tup)

tup1 = ("HIii","fii")
tup2 = (12,3)
tup3 = (tup1,tup2)
print(tup3)

tup1 = ("HIii","fii")
tup2 = (12,3)
tup3 = tup1+tup2
print(tup3)

heclheclhecl
(('HIii', 'fii'), (12, 3))
('HIii', 'fii', 12, 3)

In [ ]:
tuples = (1,2,4,4,5)
print(tuples[1:])
print(tuples[-1])
print(tuples[1:3])

del tuples
print(tuples)

(2, 4, 4, 5)
5
(2, 4)

NameError: name 'tuples' is not defined

In [ ]:
tuples = (1,2,4,4,5)
print(len(tuples))
print(max(tuples))
print(min(tuples))
print(sum(tuples))
print(sorted(tuples))

5
5
1
16
[1, 2, 4, 4, 5]

In [ ]:
#conversion
a = [23,45,23,23,1,34]
tup = tuple(a)
print( tup)

(23, 45, 23, 23, 1, 34)

In [ ]:
#tiples in loop
tup = ("hcll",)
n =5
for i in range(n):
  tup = (tup,)
  print(tup)

(('hcll',),)
((('hcll',),),)
(((('hcll',),),),)
((((('hcll',),),),),)
(((((('hcll',),),),),),)

In [ ]:
#tuple packing
a,b,c = 11,22,34
tup=(a,b,c)
print(tup)

(11, 22, 34)

In [ ]:

tupl1 = ("apple ","fruits")
tupl2 = ("orange",)
tupl1  += tupl2
print(tupl1)

('apple ', 'fruits', 'orange')

In [ ]:
#unpack
fruits = ("fruits","banana","cherry")
(green,yellow,red) = fruits
print(green)
print(yellow)


fruits = ("fruits","banana","cherry","guava")
(green,*yellow,red) = fruits
print(green)
print(yellow)

fruits
banana
fruits
['banana', 'cherry']

In [ ]:
tuple1 = ("hcl",23,"hii",23,43,)
print(tuple1)
print(tuple1[3])
print(tuple1[-1])
tuple1[2] = "Rahul"
print(tuple1)

('hcl', 23, 'hii', 23, 43)
23
43

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = ()
print(type(t1))
t2 = ("hii")
print(type(t2))

<class 'tuple'>
<class 'str'>

In [ ]:
# #dictionary
# 3.7 version and upper shows ordered

d  = {"name":"Rahul","age":23,
      1 : "hii",
      (1,3) : [1,2,3]}
print(d)

{'name': 'Rahul', 'age': 23, 1: 'hii', (1, 3): [1, 2, 3]}

In [ ]:
d1 = {'name': 'Rahul', 'age': 23, 1: 'hii', (1, 3): [1, 2, 3]}
d1["age"] = 45
d1[1] = "python dict"
print(d1)

{'name': 'Rahul', 'age': 45, 1: 'python dict', (1, 3): [1, 2, 3]}

In [ ]:
d1 = {'name': 'Rahul', 'age': 23, 1: 'hii', (1, 3): [1, 2, 3]}
del d1["age"]
print(d1)

{'name': 'Rahul', 1: 'hii', (1, 3): [1, 2, 3]}

In [ ]:
dv = {}
print(type(dv))

<class 'dict'>

In [ ]:
fruits ={
    'apple' = 230,
    'cherry' = 23
}

print(fruits)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-1585672456.py, line 2)

In [ ]:
#zip method = to combine the dictionary
fruits = {"Apple","Cherry","Lichi"}
fruits2 = {123,3453,123,543,556}
fruits3 = dict(zip(fruits,fruits2))
print(fruits3)

{'Lichi': 123, 'Apple': 556, 'Cherry': 3453}

In [ ]:
name = {"Dharmesh"}
freq = {}
for i in name:
  if i not in freq:
    freq[i] = 1
  else:
    freq[i] += 1
print(freq)



from collections import Counter
name="prince jain"
print(Counter(name))

{'Dharmesh': 1}

In [ ]:
#stack
push,pop,peek,isEmpty,size operations

In [ ]:
d1 = {'name': 'Rahul', 'age': 23, 1: 'hii', (1, 3): [1, 2, 3]}
val = d1.pop(1)
print(val)

hii

In [ ]:
d1 = {'name': 'Rahul', 'age': 23, 1: 'hii', (1, 3): [1, 2, 3]}

key , val = d.popitem()
print(f"key:{key}, value : {val}")
d1.clear()
print(d1)

key:age, value : 23
{}

In [ ]:
#nested dictionay
d = {1:"hoo",
     2:"hello",
     3:{'3.3':"yee", 5 : "jey"}}

print(d)

{1: 'hoo', 2: 'hello', 3: {'3.3': 'yee', 5: 'jey'}}

In [ ]:
#cosntructoe
thisdict = dict(name = "rahul",age = "35")
print(thisdict)

{'name': 'rahul', 'age': '35'}

In [ ]:
#pop item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
a = thisdict.pop("brand")
print(a)

Ford

In [ ]:
dict_list = [{"name":"rahul", "age":"23"},
         {"name":"raj","age":"45"}
]
for c in dict_list:
  print(c)

{'name': 'rahul', 'age': '23'}
{'name': 'raj', 'age': '45'}

In [ ]:
#to fetch both key and values
dict2 = {"name":"rhaul","age":23}
for x,y in dict2.items():
  print(x,y)

name rhaul
age 23

In [ ]:
#COPY A dict
dict2 = {"name":"rhaul","age":23}
mydict = dict2.copy()
print(mydict)

{'name': 'rhaul', 'age': 23}

In [ ]:
#nested directory
myfamily = {
    "company" : {
        "name": "rahul",
        "age" : 23
    },
    "company2" : {
        "name" : "rahul",
        "age" :"23"
    },
    "company3 ": {
        "name" : "rahul",
        "age" : 23
    }
    }
print(myfamily["company"]["name"])

rahul

In [ ]:
myfamily = {
    "company" : {
        "name": "rahul",
        "age" : 23
    },
    "company2" : {
        "name" : "rahul",
        "age" :"23"
    },
    "company3 ": {
        "name" : "rahul",
        "age" : 23
    }
    }


    #using for loop priting the list