<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/training_day_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sets
order isn not presemt
indexing and slicing not work
unique values
mutable
heterogenrous lements are presne t
frozenset is immutable
set was introficed in the 2.3 version

In [ ]:
set1 = set()
print(type(set))

<class 'type'>

In [ ]:
set3 = set("Rahul")
print(set3)

{'h', 'R', 'a', 'l', 'u'}

In [ ]:
#does not support inmdex
set3 = set("Rahul")
print(set3[4])

TypeError: 'set' object is not subscriptable

In [ ]:
#way to iterate
set3 = set("Rahul")
for i in set3:
    print(i)

h
R
a
l
u

In [ ]:
set3 = {1,3,25,54,64,523}
set3.add(5)
print(set3)

{64, 1, 3, 5, 54, 25, 523}

In [ ]:
#repetitionn not allowed
s = {1,3,25,54,64,523}
set3.add(5)
set3.add(5)
set3.add(5)
print(set3)

{64, 1, 3, 5, 54, 25, 523}

In [ ]:
#update
set3 = set("Rahul")
s = {1,3,25,54,64,523}
s.update(set3)
print(s)

{64, 1, 3, 523, 'h', 'R', 54, 'a', 25, 'l', 'u'}

In [ ]:
#remove partivular item
s = {1,3,25,54,64,523}
s.remove(3)
print(s)

{64, 1, 54, 25, 523}

In [ ]:
#pop
s = {1,3,25,54,64,523}
s.pop()
print(s)

{1, 3, 54, 25, 523}

In [ ]:
#unique element in the string
str = "be the change you wih in the world"
s = set(str)
print(s)



str = "be the change you wih in the world"
s = str.split(" ")
set3 = set(s)
print(s)
print(set3)


s = "be the change you wish in the world"

unique_words = []
for word in s.split():
    if word not in unique_words:
        unique_words.append(word)

print(unique_words)


s = "be the change you wih in the world"

unique_words = []
for char in s.split():
    if word not in unique_words:
        unique_words.append(word)

print(unique_words)

{'e', 'o', 't', 'w', 'h', 'd', 'y', 'i', ' ', 'a', 'u', 'r', 'g', 'n', 'l', 'b', 'c'}
['be', 'the', 'change', 'you', 'wih', 'in', 'the', 'world']
{'world', 'wih', 'the', 'be', 'change', 'you', 'in'}
['be', 'the', 'change', 'you', 'wih', 'in', 'world']
['world', 'world', 'world', 'world', 'world', 'world', 'world']

In [ ]:
#get the length
s = {1,3,25,54,64,523}
print(len(s))

6

In [ ]:
#the comnstrucrtor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
#access the set items
thisiset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [ ]:
#item present or not
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [ ]:
#add item sets using add
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [ ]:
#use the update methofd
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'apple', 'banana', 'grapes', 'mango', 'cherry', 'orange'}

In [ ]:
#add any iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'banana', 'kiwi', 'cherry', 'orange'}

In [ ]:
#remove and element using pop remove discard clear del
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)

x = thisset.remove("banana")
print(x)

x = thisset.discard("banana")
print(x)

x = thisset.clear()
print(x)

del thisset
print(thisset)

apple
None
None
None

NameError: name 'thisset' is not defined

In [ ]:
#pythm loop
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

In [ ]:
#join sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set4 = {"as",23,"gvr"}
set3 = set1 | set2 |set4
print(set3)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set4 = {"as",23,"gvr"}
set3 = set1.union(set2,set4)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'as', 'gvr', 'a', 23, 'b', 'c'}
{1, 2, 3, 'as', 'gvr', 'a', 23, 'b', 'c'}

In [ ]:
#join set and tuplke
set1 = {"a", "b" , "c"}
tup = ("as",23,"gvr")
z = set1.union(tup)
print(z)

{'as', 'gvr', 'a', 23, 'b', 'c'}

In [ ]:
#intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)


#intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)


#intersection_update
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)


#intersection
set1 = {"apple",1,0,"banana", "cherry"}
set2 = {"google",True,False,"microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}
{'apple'}
{'apple'}
{False, True, 'apple'}

In [ ]:
#difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

#difference update
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)


print(set1 & set2)

{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'cherry'}
set()

In [ ]:
#symmetric difference uodate
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

#symmetric differne=ce
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}
{'google', 'banana', 'microsoft', 'cherry'}

In [ ]:
#python frozenset
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [ ]:
#differences of fset in python
set1 = set()
set2 = set()
for i in range(5):
  set1.add(i)
for i in range(3,9):
  set2.add(i)
print(set1-set2)

{0, 1, 2}

In [ ]:
#method to remove all the r=elemensts in the set