<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/trainingday5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#functions and modules

In [ ]:
#FUUNCTIONSS WITH ARGUMENT

def my_fun(name):
  print(name)

my_fun("Rahm")



def my_fun(name,ending):
  print(name,ending)

my_fun("Rahm","how")

Rahm
Rahm how

In [ ]:

def my_fun(name,ending):
  print(name,ending +"are"+" "+"you")

my_fun("Rahm","how")
my_fun("Rahm","hoe")


def my_fun(name,ending):
  print(name,ending +"are"+" "+"you")
  return "ohh"

my_fun("Rahm","how")
a = my_fun("Rahm","hoe")
print(a)

Rahm howare you
Rahm hoeare you
Rahm howare you
Rahm hoeare you
ohh

In [ ]:
def my_fun(name,ending="welcome"):
  print(name,ending +"are"+" "+"you")
  return "ohh"

my_fun("Rahm","how")
my_fun("Rahm")

Rahm howare you
Rahm welcomeare you

'ohh'

In [ ]:
def my_fun(name,ending="welcome"):
  print(f"hello ,{name},{ending}")
  return "ohh"

my_fun("Rahm","how")
my_fun("Rahm")

hello ,Rahm,how
hello ,Rahm,welcome

'ohh'

In [ ]:
#recursion
def fact(n):
  if n ==1 or n ==0:
    return 1
  else:
    return n*fact(n-1)

n = int(input("enter the number :"))
print(f"the fact of {n} is {fact(n)}")

enter the number :5
the fact of 5 is 120

In [ ]:
#recursion
def fact(n):
  if n ==1 or n ==0:
    return 1
  return n*fact(n-1)

n = int(input("enter the number :"))
print(f"the fact of {n} is {fact(n)}")

enter the number :48
the fact of 48 is 12413915592536072670862289047373375038521486354677760000000000

In [ ]:
#pass by value like behavioyur(immutable)
def change_number(n):
  n = n+10
  print("value og change is ",n)

n =5
change_number(n)
print("value of n is ",n)

value og change is  15
value of n is  5

In [ ]:
#pas by reference like behaviour
def modigy_list(lst):
  lst.append(100)
  print("value of list is ",lst)

lst = [1,2,3,4]
print(lst)
modigy_list(lst)
print(" the list is ",lst)

[1, 2, 3, 4]
value of list is  [1, 2, 3, 4, 100]
 the list is  [1, 2, 3, 4, 100]

In [ ]:
#positional or required argument
def add(a,b):
  print("sum",a+b)

add(4,3)

sum 7

In [ ]:
#keyword argument
def student(name,age):
  print("name",name)
  print("age",age)

student(age=19,name="rahm")

name rahm
age 19

In [ ]:
#variable length argumkent
def marks(*marks):
  print("marks",sum(marks))
marks(23,45,12)

marks 80

In [ ]:
#keyword only argument
def greet(*,name,age):
  print(age,name)
greet(name = "dha",age= "234")

234 dha

In [ ]:
#con=binstion of all
def example(a,b,*args,name = "Guest",**kwargs):
  print(a,b)
  print(args)
  print(name)
  print(kwargs)

example(1,2,3,4,name = "hain",city = "dekgi",age =23)

1 2
(3, 4)
hain
{'city': 'dekgi', 'age': 23}

In [ ]:
#con=binstion of all
def example(a,b,*args,name = "Guest",**kwargs):
  print(a,b)
  print(args)
  print(name)
  print(kwargs)

example(1,2,3,4,name = "hain",city = "dekgi",age =23)

1 2
(3, 4)
hain
{'city': 'dekgi', 'age': 23}

In [ ]:
def my_func():
  print("the naem ")

my_func()
my_func()
my_func()

the naem
the naem
the naem

In [ ]:
def greet():
  "this is something"#doc string
  '''sdfdsf'''
  print("hello")

greet()

hello

In [ ]:
def greet(str):
  "this is something"
  '''sdfdsf'''
  print("hello")
  return

greet()

hello

In [ ]:
def greet(name):
  "this is something"
  '''sdfdsf'''
  print("hello{}".format(name))
  return

greet("aadi")
greet("fhdgj")

helloaadi
hellofhdgj

In [ ]:
def greet(name,msg):
  "this is something"
  '''sdfdsf'''
  print("hello{}".format(name),msg)
  return

greet("aadi","dgfdg") # Fixed: Passed two separate arguments
greet(msg= "fhdgj",name = "aad")

helloaadi dgfdg
helloaad fhdgj

In [ ]:
#return typr
def add(a,b):
    return a+b
def is_true(a):
    return bool(a)

res = add(2,3)
print(res)
print(is_true(res))

5
True

In [ ]:

def greet():
  name = "hecl"
  age = 23
  return name,age
name,age =greet()

print("name",name)
print("age",age)

name hecl
age 23

In [ ]:
def fun(a):
  return(a**2,a**3)
result = fun(a)
print(result)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
#function under function
def fun1(msg):
  def fun2():
    return f"message{msg}"
  return fun2

fun3 = fun1("hcl")
print(fun3())



def fun1(msg):
  def fun2():
    return f"message{msg}"
  return fun2

fun3 = fun1("hcl")
print(fun3)

messagehcl
<function fun1.<locals>.fun2 at 0x7855f15634c0>

In [ ]:
#import modules
import math
print(math.sqrt(25))
print(math.pi)

5.0
3.141592653589793

In [ ]:
from math import sqrt, pi
print(sqrt(34))
print(pi)

5.830951894845301
3.141592653589793

In [ ]:
#im;oprt with allias
import math as m
print(m.sqrt(25))
print(m.pi)

5.0
3.141592653589793

In [ ]:
import requests
r = requests.get("https://www.linkedin.com")
print(r.status_code)

200

In [ ]:
import sys
for p in sys.path:
  print(p)

/content
/env/python
/usr/lib/python312.zip
/usr/lib/python3.12
/usr/lib/python3.12/lib-dynload

/usr/local/lib/python3.12/dist-packages
/usr/lib/python3/dist-packages
/usr/local/lib/python3.12/dist-packages/IPython/extensions
/root/.ipython

In [ ]:
import webbrowser
r = "https://chatgpt.com/c/69390873-b818-8321-92d5-fed88598237c"
webbrowser.open(r)

False

In [ ]:
import requests
r = requests.get("https://chatgpt.com/c/69390873-b818-8321-92d5-fed88598237c")
print(r.status_code)

403

In [ ]:
# Given an integer, , perform the following conditional actions:
# •	If  is odd, print Weird
# •	If  is even and in the inclusive range of  to , print Not Weird
# •	If  is even and in the inclusive range of  to , print Weird
# •	If  is even and greater than , print Not Weird
# Input Format
# A single line containing a positive integer, .
# 1<= n <= 100

# Output Format
# Print Weird if the number is weird. Otherwise, print Not Weird.

# Solution:
import math
import os
import random
import re
import sys


if __name__=='__main__':
  n = int(input())
  if n % 2 == 1:
    print("Weird")
  elif n % 2 == 0 and 2 <= n <= 5:
    print("Not Weird")
  elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
  elif n % 2 == 0 and n > 20:
    print("Not Weird")

12
Weird