<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/trainingday7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DSA
#creating and manipulating lists
list = {1,2,3,4,5,"dgd"}
print(list)

{1, 2, 3, 4, 5, 'dgd'}

In [ ]:
#empty list
x = []
print(x)
print(type(x))

[]
<class 'list'>

In [ ]:
x = ["hello","HCl", "hii"]
print(x)
print(x[0])

['hello', 'HCl', 'hii']
hello

In [ ]:
#list contining multidimensional values
list3 = ["hckl"], ["yjr","jdh",["dfgdf"]]
print(list3)

(['hckl'], ['yjr', 'jdh', ['dfgdf']])

In [ ]:
list3 = ["hckl"], ["yjr","jdh",["dfgdf"]]
print(list3[1][0])
list2 = [[1,2,3],345]
print(list2[0][2])

yjr
3

In [ ]:
#append function with push
#element in the stack
#lifo order

stac = []
stac.append(1)
stac.append(2)
stac.append(3)
print(stac)

[1, 2, 3]

In [ ]:
stac = []
stac.append(1)
stac.append(2)
stac.append(3)
print(stac)

print(stac.pop())
print(stac.pop())
print(stac)

[1, 2, 3]
3
2
[1]

In [ ]:
from collections import deque
q = deque()
q.append(1)
q.append(2)
q.append(3)
print(q)
print("\n elements dequed" )
print(q.popleft())
print(q.popleft())

print(q)

deque([1, 2, 3])

 elements dequed
1
2
deque([3])

In [ ]:
#usig queue module
from queue import LifoQueue
stack = LifoQueue(maxsize = 3)
print(stack.qsize())
stack.put(1)
stack.put(2)
stack.put(3)
print(stack.full())
print(stack.qsize())

0
True
3

In [ ]:
#get method functionto pop

# get() function to pop
# element from stack in
# LIFO order
print('\nElements popped from the stack')
print(stack.get())
print(stack.get())
print(stack.get())

print("\nEmpty: ",stack.empty())

Elements popped from the stack
3
2
1

Empty:  True

In [ ]:
#lsit methods
x = [34,34, 89]
# Removed the nested list [324,65,345] as it caused a TypeError during sorting with integers.
# If you intend to sort elements within the nested list, you'd need a different approach.
x.append(89)
print(x)
x.sort()
print(x)

[34, 34, 89, 89]
[34, 34, 89, 89]

In [ ]:
#crweate an algorithm find the lowest value in the list
#ways to replace a element in the list in many ways
my_array = [12,34,54,65,33]
minval = my_array[0]

for i in my_array:
    if i < minval:
        minval = i
print(minval)

12

In [ ]:
fruits = ['apple','banana', 'cherry']
newlst = []
for x in fruits:
    if 'a' in x:
        newlst.append(x)
print(newlst)

['apple', 'banana']

In [ ]:
#list comprehension
fruits = ['apple','banana', 'cherry']
newlst = [x for x in fruits if 'a' in x]
print(newlst)

#ITERABKES IN ONE LINE
newls = [x for x in range(10)]
print(newls)

#EXPRESSION
newls = [x.upper() for x in fruits if x!= "Kiwi"]
print(newls)

['apple', 'banana']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['APPLE', 'BANANA', 'CHERRY']

In [ ]:
#woeking withs str2ing
#with single quotes
str2r = 'hello world'
print(str2r)

str2r = "yes, he is there"
print(str2r)

str2r = '''yooo , he is there '''
print(str2r)

hello world
yes, he is there
yooo , he is there

In [ ]:
#comparion
s = " hello, you are i "
print(sc)

 hello, you are i

In [ ]:
s2 = "hello world"
s2  = "It is pythpon]"
s2 = "he said, \"hello\""
print(s2)

he said, "hello"

In [ ]:
#updating str2ing
my_str2 = "rahul, how is going"
# To replace "rahul" with "hello", create a new str2ing:
my_str2 = "hello" + my_str2[len("rahul"):]
print(my_str2)

TypeError: 'str' object does not support item assignment

In [ ]:
#update with indesxing
str2ing = " Hello world"
print(str2ing[:6] + "Python")

#
str2 = "Rahul, hoe are uoiu"
str21 = "Welcome to hclk"
print(str2+str21)

#python plus operator
a = "rahul"+"hello"
print(a)


#
a = "rahul"
b = "Guha "
print(a+b)


#

word = "py"
word += "thon"
word += " is fun"
print(word)



#by using join method
a = ["python","is","a","very","good"]
res = " ".join(a)
print(res)

 HelloPython
Rahul, hoe are uoiuWelcome to hclk
rahulhello
rahulGuha
python is fun
python is a very good

TypeError: 'str' object is not callable

In [ ]:
#join numbers
numbers = [1,2,3,4,56,-78,54]
joinnum = "".join(str(numbers)for numbers in numbers)
print(joinnum)


#using format metrhofd
str1 = "hello"
str2 = "world"
print("{} you are considered as  {}".format(str1,str2))


#using f string
s1 = "rahul"
s2 = "Python"
s3 = f"{s1} is a good in {s2}"
print(s3)

123456-7854
hello you are considered as  world
rahul is a good in Python

In [ ]:
def func1(start="Hello", end="World"):
  return start + end

def func2(a):
  return "How are you"
@func1
def func3():
  a = str(input("enter the name :"))
  print(a)

In [ ]:
#using f string
s1 ="Rahul"
s2 = "Python"
s3 = f"{s1} is a good in {s2}"
print(s3)


#operator
word = "hi"
print(word * 4)

Rahul is a good in Python
hihihihi

In [ ]:
print("the namis %s the personis " + "Rahul")

the namis %s the personis Rahul