<a href="https://colab.research.google.com/github/Drat47/Dharmesh-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
arr = np.array([1,2,3,4],ndmin = 5)
print(arr)
print('dimensions:',arr.ndim)

[[[[[1 2 3 4]]]]]
dimensions: 5

In [ ]:
# usw of ndim
a  = np.array([1])
b = np.array([2,3,4])
c = np.array([[1,2,3],[4,5,6]])
d = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

1
1
2
3

In [ ]:
import numpy as np
arr = np.array([1,2,3,4],ndmin = 5)
print(arr)
print('dimensions:',arr.ndim)

[[[[[1 2 3 4]]]]]
dimensions: 5

In [ ]:
#array indexing
import numpy as np
arr = np.array([1,2,3,4])
print(arr[0])


import numpy as np
arr = np.array([1,2,3,4])
print(arr[2])

#addition of elements

import numpy as np
arr = np.array([1,2,3,4])
print(arr[2]+ arr[3])

1
3
7

In [ ]:
import numpy as np
arr = np.array([[1,2,3,4],[4,5,6,7]])
print('2nd element on 1st row:',arr[0,1])

arr = np.array([[1,2,3,4],[4,5,6,7]])
print('2nd element on 2st row:',arr[1,3])

2nd element on 1st row: 2
2nd element on 2st row: 7

In [ ]:
#access the 3d array
arr = np.array([[[1,2,3,4],[4,5,6,7]],[[1,2,3,4],[54,23,12,34]]])
print('4nd element on 2st row:',arr[1,1,3])


arr = np.array([[[1,2,3,4],[4,5,6,7]],[[1,2,3,4],[54,23,12,34]]])
print('4nd element on 2st row:',arr[1,-2,0:3:2])


arr = np.array([1,2,3,4,5,56,7,6])
print(arr[3])
print(arr[2:5])
print(arr[2:5:2])
print(arr[-1])
print(arr[-3:-1])
print(arr[::-2])

4nd element on 2st row: 34
4nd element on 2st row: [1 3]
4
[3 4 5]
[3 5]
6
[56  7]
[ 6 56  4  2]

In [ ]:
#slicing in 2d array
import numpy as np
arr = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(arr[1,1:4])
print(arr[0:2, 2])


print(arr[0:1, 0:5:2])

[7 8 9]
[3 8]
[[1 3 5]]

In [ ]:
#numpoy data type
import numpy as np
arr = np.array(["112","232","444443","4"])
print(arr.dtype)

# < = little endian
# u = uniucoed string
# 6  = maximum size of memorya llocated because it is of contiguous tyoe


#numoy uses array becuase of same size same type of elemens



#datatype
arr = np.array([1,2,3,4],dtype = 'S')
print(arr)
print(arr.dtype)

# here "S" stand for the byte string(not unincode )
# numpy converts each sting element uinto byte string

arr = np.array([1,2,3,4],dtype = np.int64)
print(arr)
print(arr.dtype)


arr = np.array([1,2,3,4],dtype = 'i8')
print(arr)
print(arr.dtype)

arr = np.array([1,2,3,4.34])
newarr = arr.astype('i')
print(newarr)
print(newarr.dtype)

arr = np.array([1,2,3,4.34])
newarr = arr.astype(int)
print(newarr)
print(newarr.dtype)


# #i = signmed integer
# 4 = 4 bytes(32 bits)

<U6
[b'1' b'2' b'3' b'4']
|S1
[1 2 3 4]
int64
[1 2 3 4]
int64
[1 2 3 4]
int32
[1 2 3 4]
int64

In [ ]:
#difference btween copy and view
arr = np.array([1,2,3,4,5])
x = arr.copy()
arr[0] = 42
print(arr)
print(x)


#changes to the coppy
x[2] = 35
arr[2] = 56
print(arr)
print(x)



#view
arr = np.array([1,2,3,4,5])
arr[0] = 42
x = arr.view()

print(x.dtype)
print(x)
print(arr)

arr = np.array([1,2,3,4,5])
arr[0] = 42
x = arr.view()
x[0] = 45
print(x.dtype)
print(x)
print(arr)

[42  2  3  4  5]
[1 2 3 4 5]
[42  2 56  4  5]
[ 1  2 35  4  5]
int64
[42  2  3  4  5]
[42  2  3  4  5]
int64
[45  2  3  4  5]
[45  2  3  4  5]

In [ ]:
#check if arrau ownds its data
arr = np.array([1,2,3,4,5])
x = arr.copy()
y = arr.view()
print(x.base)
print(y.base)

None
[1 2 3 4 5]

In [ ]:
#numpt array shape
arr = np.array([[1,2,3,4],[5,6,7,8]])
print(arr.shape)

#2 rows and 4 columns

(2, 4)

In [ ]:
#RESHAPUINGTHE DIMENSION
arr = np.array([1,2,3,4,5,6,7,8,9,11,21,31])
newarr = arr.reshape(4,3)
print(newarr)


arr = np.array([1,2,3,4,5,6,7,8,9,11,21,31])
newarr = arr.reshape(12,1)
print(newarr)


#1d to 3d
arr = np.array([1,2,3,4,5,6,7,8,9,11,21,31])
newarr = arr.reshape(3,2,2)
print(newarr)


#return copy or view
arr = np.array([1,2,3,4,5,6,7,8,9,11,21,31,23,23,34,45,46,23,34,12])
newarr = arr.reshape(2,5,2)
print(newarr.base)
#will return view because the data can be changedin this

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [11 21 31]]
[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [11]
 [21]
 [31]]
[[[ 1  2]
  [ 3  4]]

 [[ 5  6]
  [ 7  8]]

 [[ 9 11]
  [21 31]]]
[ 1  2  3  4  5  6  7  8  9 11 21 31 23 23 34 45 46 23 34 12]

In [ ]:
# unknoiwn dimension = will automatically selects the dimension which is not define by the use r

arr = np.array([1,2,3,4,5,6,78,7,9,5,12,12])
newarr = arr.reshape(2,2,-1)
print(newarr)


arr = np.array([1,2,3,4,5,6,78,7,9,5,12,12])
newarr = arr.reshape(2,-1,2)
print(newarr)



arr = np.array([1,2,3,4,5,6,78,7,9,5,12,12])
newarr = arr.reshape(-1,2,2)
print(newarr)

[[[ 1  2  3]
  [ 4  5  6]]

 [[78  7  9]
  [ 5 12 12]]]
[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[78  7]
  [ 9  5]
  [12 12]]]
[[[ 1  2]
  [ 3  4]]

 [[ 5  6]
  [78  7]]

 [[ 9  5]
  [12 12]]]

In [ ]:
#flattening the arrays
arr = np.array([[1,2,3],[4,5,6]])
newarr = arr.reshape(-1)
print(newarr)

[1 2 3 4 5 6]

In [ ]:
#iterating
arr = np.array([1,2,3])
for x in arr:
    print(x)

arr = np.array([[1,2,3,4],[23,4,5,6,]])
for x in arr:
    print(x)
    for y in x:
        print(y)

1
2
3
[1 2 3 4]
1
2
3
4
[23  4  5  6]
23
4
5
6

In [ ]:
#iterating with nditer
arr = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,34]]])
for x in np.nditer(arr):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
34

In [ ]:
#iteratinf array with diffrenet data type s
#op_dtypes
arr = np.array([1,2,3])
for x in np.nditer(arr,flags = ['buffered'],op_dtypes = ['S']):
    print(x)


arr = np.array([1,2,3])
for x in np.nditer(arr,flags = ['buffered'],op_dtypes = ['float']):
  print(x)

arr = np.array([[1,2,3],[23,35,12]])
for x in np.nditer(arr[:, ::2]):
  print(x)

np.bytes_(b'1')
np.bytes_(b'2')
np.bytes_(b'3')
1.0
2.0
3.0
1
3
23
12

In [ ]:
#ndenumerate:: sequencing in the memoery
arr = np.array([1,2,3])
for idx,x in np.ndenumerate(arr):
    print(idx,x)

arr = np.array([[1,2,3,4],[4,5,6,7]])
for idx,x in np.ndenumerate(arr):
    print(idx,x)

(0,) 1
(1,) 2
(2,) 3
(0, 0) 1
(0, 1) 2
(0, 2) 3
(0, 3) 4
(1, 0) 4
(1, 1) 5
(1, 2) 6
(1, 3) 7

In [ ]:
#numpy joining array
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.concatenate((arr1,arr2))
print(arr)


# arr1 = np.array([[1,2,3,8],[4,5,6,7]])
# arr2 = np.array([4,5,6,9])
# arr = np.concatenate((arr1,arr2))
# print(arr)



arr1 = np.array([[1,2,3,8],[4,5,6,7]])
arr2 = np.array([[4,5,6,9],[12,3,423,456]])
arr = np.concatenate((arr1,arr2))
print(arr)
#horiongtal stacking
arr1 = np.array([[1,2,3,8],[4,5,6,7]])
arr2 = np.array([[4,5,6,9],[12,3,423,456]])
arr = np.concatenate((arr1,arr2),axis =1)
print(arr)
#vertical srtacking
arr1 = np.array([[1,2,3,8],[4,5,6,7]])
arr2 = np.array([[4,5,6,9],[12,3,423,456]])
arr = np.concatenate((arr1,arr2),axis =0)
print(arr)

[1 2 3 4 5 6]
[[  1   2   3   8]
 [  4   5   6   7]
 [  4   5   6   9]
 [ 12   3 423 456]]
[[  1   2   3   8   4   5   6   9]
 [  4   5   6   7  12   3 423 456]]
[[  1   2   3   8]
 [  4   5   6   7]
 [  4   5   6   9]
 [ 12   3 423 456]]

In [ ]:
#numpy splitting
arr = np.array([1,2,3,4,5,6])
newarr = np.array_split(arr,3)
print(newarr)


arr = np.array([1,2,3,4,5,6])
newarr = np.array_split(arr,3)
print(newarr)

print(newarr[0])
print(newarr[1])
print(newarr[2])

[array([1, 2]), array([3, 4]), array([5, 6])]
[array([1, 2]), array([3, 4]), array([5, 6])]
[1 2]
[3 4]
[5 6]

In [ ]:
arr = np.array([[1,2],[2,4],[4,6]])
newarr = np.array_split(arr,3,axis =1)
print(newarr)



#horizontal split

[array([[1],
       [2],
       [4]]), array([[2],
       [4],
       [6]]), array([], shape=(3, 0), dtype=int64)]

In [ ]:
find the indexes wher ethe value 4 is present in the array
#use of wher efor the condiotion
#searchsorted()