In [1]:
p = " heloo how are you"
print(type(p))

<class 'str'>

In [6]:
p = 12345435324834783274029999999999999999999985345435
print(p)
print(type(p))

12345435324834783274029999999999999999999985345435
<class 'int'>

In [5]:
p =3.01443444444444444444444444444444444444444444444444444444444444444444444444444444443543534543230989844444444444444444444444444444444444444444444444444444444444444444444444444444
print(p)
print(type(p))

3.0144344444444444
<class 'float'>

In [153]:
p = 3.45 + 4j + 908907897987
print(p)
print(type(p))

(908907897990.45+4j)
<class 'complex'>

In [14]:
p = [3,5,3,2]
print(p)
print(type(p))

[3, 5, 3, 2]
<class 'list'>

In [15]:
p = [3,[78,34],5,3,2]
print(p)
print(type(p))

[3, [78, 34], 5, 3, 2]
<class 'list'>

In [17]:
p = [3,[78,34],"h",5,3,2]
print(p)
print(type(p))

[3, [78, 34], 'h', 5, 3, 2]
<class 'list'>

In [18]:
p = [3,[78,34],["nbjbh"],5,3,2]
print(p)
print(type(p))

[3, [78, 34], ['nbjbh'], 5, 3, 2]
<class 'list'>

TypeError: unsupported operand type(s) for ^: 'list' and 'list'

In [20]:
p = (3,5,6,8)
print(p)
print(type(p))

(3, 5, 6, 8)
<class 'tuple'>

In [21]:
p = (3,5,6,8,(4,6,2))
print(p)
print(type(p))

(3, 5, 6, 8, (4, 6, 2))
<class 'tuple'>

In [23]:
p = (3,5,6,8,(4,6,2),"df",8.7)
print(p)
print(type(p))

(3, 5, 6, 8, (4, 6, 2), 'df', 8.7)
<class 'tuple'>

In [24]:
p = range(7)
print(p)
print(type(p))

range(0, 7)
<class 'range'>

In [28]:
p = range(65,-37,34)
print(p)
print(type(p))

range(65, -37, 34)
<class 'range'>

In [30]:
dict ={"name":"dha", "age" : 23}
print(dict)
print(type(dict))

{'name': 'dha', 'age': 23}
<class 'dict'>

In [31]:

set = {"sa","sdf",}
print(set)
print(type (set))

{'sa', 'sdf'}
<class 'set'>

In [32]:
set = {"sa",34,"sdf",}
print(set)
print(type (set))

{'sa', 34, 'sdf'}
<class 'set'>

In [35]:
set = frozenset({"sa","sdf"})
print(set)
print(type (set))

frozenset({'sa', 'sdf'})
<class 'frozenset'>

In [36]:
set = frozenset({"sa","sdf",23,3.54})
print(set)
print(type (set))

frozenset({'sa', 3.54, 'sdf', 23})
<class 'frozenset'>

In [37]:
m = True
print(type(m))

<class 'bool'>

In [38]:
f = b"hiii"
print(f)
print(type(f))

b'hiii'
<class 'bytes'>

In [40]:
f = b"23"
print(f)
print(type(f))

b'23'
<class 'bytes'>

In [41]:
b = bytearray(b"hello")
print(b)
print(type(b))

bytearray(b'hello')
<class 'bytearray'>

In [42]:
b = memoryview(b"hello")
print(b)
print(type(b))

<memory at 0x781f3f8cde40>
<class 'memoryview'>

In [43]:
b = memoryview(b"hii")
print(b)
print(type(b))

<memory at 0x781f3ea6a440>
<class 'memoryview'>

In [45]:
x =None
print(x)
print(type(x))

None
<class 'NoneType'>

In [53]:
 #numbers
 x =1
 y = -3.6
 z = 1j
 k = "fii"
 a = float(x)
 b =float(z)
 c =float(y)
 d = int(k)
 print(a)
 print(b)
 print(c)
 print(d)
 print(type(a))
 print(type(b))
 print(type(c))
 print(type(d))

ValueError: invalid literal for int() with base 10: 'fii'

In [84]:
#random nymbers
import random
print(random.randrange(0,1))
print(random.random())
print(random.randint(4,30))
print(random.uniform(2,6))
#how float is taken in randrange

0
0.5175920985984204
8
4.236810837193585

In [86]:
#strings are array
a = " heloo.  ki"
print(a[9])

k

In [87]:
#looping througha string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [89]:
#string length
p = "heloooooooooo 0"
print(len(p))

15

In [94]:
#keyword in
txt = "the best things in life are free"
print("hu" in txt)


if "develolp" in txt:
  print("yes,'develolp' is present")

else:
  print("no")


print("in" not in txt)

False
no
False

In [96]:
#slicing
b = "hello, world"
print(b[2:5])
print(
    b[:5])
print(
    b[2:])
print(
    b[-5:-2])

# upper limit is no tincluded

llo
hello
llo, world
wor

In [100]:
#modify string

#upper case
a = " heloohih"
print(a.upper())


a = input("the name is:")
print(a.upper())

 HELOOHIH
the name is:DHARMESH
DHARMESH

In [101]:
#strpp
a = " hello hii "
print(a.strip())

hello hii

In [103]:
#replace
a = "hello jiii"
print(a.replace("j", "k"))


a = "hello jiii"
print(a.replace("hello jii", "kailo"))

hello kiii
kailoi

In [107]:
#split
a = "hello, world there is a huge meteor"
print(a.split(","))


a = "hello, world there is a huge meteor kjeghfkhegfkusdhfushfsiudhgfusdhfsdujfhkjshkjshkjshfkjsdhfdskjhfdskjfhsdkjhfjdhfdjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj"
print(a.split(","))

a = "hello, world"
print(a.split(" "))

['hello', ' world there is a huge meteor']
['hello', ' world there is a huge meteor kjeghfkhegfkusdhfushfsiudhgfusdhfsdujfhkjshkjshkjshfkjsdhfdskjhfdskjfhsdkjhfjdhfdjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj']
['hello,', 'world']

In [111]:
#string concatenationn

a = "hello"
b = " world"
c = a + b
print(c)

d  =  a + "   " + b
print(d)

hello world
hello    world

In [114]:
#f string

age  = int(input("the age is:"))
salary = int(input("the salary is:"))
name  = str(input("the name is:"))
txt  = f"hello my name is {name} and the salry is {salary} and the age is {age} "
print(txt)

the age is:45
the salary is:8945
the name is:hallo
hello my name is hallo and the salry is 8945 and the age is 45

In [118]:
#plsceholder
price  = 89
txt = f"the price is {price:.52f}"
print(txt)

txt = f"the price is {45*78}"
print(txt)


txt = f"the price is {45*78:.2f}"
print(txt)

the price is 89.0000000000000000000000000000000000000000000000000000
the price is 3510
the price is 3510.00

In [121]:
#escape charcter
txt  = "we are so called \"vikings\"from the north"
print(txt)

txt  = "we are so called "vikings"from the north"
print(txt)

SyntaxError: invalid syntax (ipython-input-1382327548.py, line 5)

In [123]:
# Boolean value
print(5>6)
print(10 == 8)
print(9<3)
print(5 != 8)
print(bool("hello"))
print(bool(15))

False
False
False
True
True
True

In [124]:
a= 4
b = 3
c = 9

if b>a:
  print("b is greater than a")
  if b>c:
    print("b is greater than c")
else:
  print("a is greater than b")
  if a>c:
    print("a is greater than c")
  else:
    print("c is greater than a")



    also using elif

a is greater than b
c is greater than a

In [127]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [128]:
x =200
print(isinstance(x,int))

True

In [129]:
x = "welcome"
print(x[3:5])

co

In [130]:
#arithematic operation
x =7
y =8
print("addition",x+y)
print("sub",x -y)
print("mul",x*y)
print("div",x/y)
print("floor div", x//y)
print("mod",x%y)
print("power",x**y)

addition 15
sub -1
mul 56
div 0.875
floor div 0
mod 7
power 5764801

In [134]:
#assignment operatot
a =10
b =a
print(b)
b +=a
print(b)
b-= a
print(b)
b *= a
print(b)

b <<= a
print(b)
b >>= a
print(b)

10
20
10
100
102400
100

In [135]:
#comparison operatotr
a = 23
b =89
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [138]:
#logical operatot
a = True
b = False
print(a and b)
print(a or b)
print(not a)
print(a^b)

False
True
False
True

In [139]:
#bitwise operaotr
a =29
b = 67
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 2)
print(a >> 2)

1
95
94
-30
116
7

In [144]:
#identity operator
a = ["apple", "banana"]
b = ["apple", "banana"]
c = a
print(id(a))
print(id(c))
x = print(a is c)
print(id(x))

print(a is b)
print(a is not b)
print(a==b)

132075588524736
132075588524736
True
10632160
False
True
True

In [148]:
#membership operaot
x = 32
y =42
list = [10,34,23,56,76]

if(x not in list):
  print("x in not in list")
else:
  print("x in list")

  if(y in list):
    print("y is in list")
  else:
    print("y is not in list")

fruits = ["aple","banna","kiwi"]
print("banana" in fruits)

x in not in list
False

In [149]:
#list length

list = ["apple","banna","cherry"]
print(len(list))

3

In [150]:
list1 = ["apple","banna","cherry"]
list2 = [1,2,3,4,5]
list3 = [True,False,True]
print(list1)
print(list2)
print(list3)

['apple', 'banna', 'cherry']
[1, 2, 3, 4, 5]
[True, False, True]

In [162]:
#list constructor
thislist = list(("apple","banna","cherry"))
print(thislist)

TypeError: 'list' object is not callable

In [181]:
list1 = ["apple","banna","cherry","mango","orange","kiwi"]
print(list1[-1:-4])

list1[2] = "horse"
print(list1)


list1[2:5] = ["hors=e","water","melon"]
print(list1)


list1.insert(1,"house")
print(list1)

list1.append("grapes")
print(list1)

tropical = ["Mango","papaya"]
list1.extend(tropical)
print(list1)


tuple = ("kiwi","orange")
list1.extend(tuple)
print(list1)

#remove
list1.remove("kiwi")
print(list1)


#remove specoifies index

list1.pop(1)
print(list1)


list1.pop()
print(list1)

#temove first item
del list1[0]

print(list1)



#clear
list1.clear()
print(list1)

for x in list1:


#rremove list
del list1

[]
['apple', 'banna', 'horse', 'mango', 'orange', 'kiwi']
['apple', 'banna', 'hors=e', 'water', 'melon', 'kiwi']
['apple', 'house', 'banna', 'hors=e', 'water', 'melon', 'kiwi']
['apple', 'house', 'banna', 'hors=e', 'water', 'melon', 'kiwi', 'grapes']
['apple', 'house', 'banna', 'hors=e', 'water', 'melon', 'kiwi', 'grapes', 'Mango', 'papaya']
['apple', 'house', 'banna', 'hors=e', 'water', 'melon', 'kiwi', 'grapes', 'Mango', 'papaya', 'kiwi', 'orange']
['apple', 'house', 'banna', 'hors=e', 'water', 'melon', 'grapes', 'Mango', 'papaya', 'kiwi', 'orange']
['apple', 'banna', 'hors=e', 'water', 'melon', 'grapes', 'Mango', 'papaya', 'kiwi', 'orange']
['apple', 'banna', 'hors=e', 'water', 'melon', 'grapes', 'Mango', 'papaya', 'kiwi']
['banna', 'hors=e', 'water', 'melon', 'grapes', 'Mango', 'papaya', 'kiwi']
[]